## Project 1
### Group 4
---

In [74]:
%matplotlib widget

In [75]:
import pandas as pd
import matplotlib.pyplot as plt

In [76]:
path = 'County_zori_sm_sa_month.csv'
csvfile = pd.read_csv(path, encoding='utf-8')
# csvfile.head()
rents = pd.DataFrame(csvfile)
rents.set_index(rents['StateName'])

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,3/31/2015,...,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022
StateName,,,,,,,,,,,,,,,,,,,,,
CA,3101,0,Los Angeles County,county,CA,CA,"Los Angeles-Long Beach-Anaheim, CA",6,37,1926.991658,...,2729.390246,2755.513640,2779.814053,2812.161093,2842.625892,2861.876621,2873.416820,2883.985603,2897.074676,2903.093932
IL,139,1,Cook County,county,IL,IL,"Chicago-Naperville-Elgin, IL-IN-WI",17,31,1474.168496,...,1784.075380,1795.926466,1807.350431,1816.939486,1831.220511,1840.614502,1853.735489,1862.268681,1873.774721,1887.327681
TX,1090,2,Harris County,county,TX,TX,"Houston-The Woodlands-Sugar Land, TX",48,201,1265.704634,...,1538.360127,1548.135905,1552.104357,1559.552586,1566.809638,1577.283575,1584.804241,1592.786510,1595.325585,1595.095861
AZ,2402,3,Maricopa County,county,AZ,AZ,"Phoenix-Mesa-Chandler, AZ",4,13,1016.003857,...,1900.456957,1907.285752,1916.910106,1926.139846,1938.348507,1944.165765,1947.966188,1945.259798,1940.447973,1934.658621
CA,2841,4,San Diego County,county,CA,CA,"San Diego-Chula Vista-Carlsbad, CA",6,73,1856.685365,...,2828.215924,2852.863786,2886.838216,2944.770447,2986.267820,3025.931781,3058.815591,3091.576010,3103.283044,3105.048761
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
VA,3282,1981,Manassas Park City,county,VA,VA,"Washington-Arlington-Alexandria, DC-VA-MD-WV",51,685,NaN,...,1799.512049,1791.953346,1808.059020,1806.024668,1823.412120,1865.617601,1889.997462,1879.960382,1869.872064,1852.875000
SD,777,2072,Union County,county,SD,SD,"Sioux City, IA-NE-SD",46,127,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1507.000000
CO,528,2075,Grand County,county,CO,CO,NaN,8,49,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2305.217495,2450.000000
VA,3272,2165,Falls Church City,county,VA,VA,"Washington-Arlington-Alexandria, DC-VA-MD-WV",51,610,NaN,...,2091.393739,2052.790947,2040.039056,2031.502383,2054.489165,2096.895660,2121.117003,2133.283362,2097.357215,2152.747980
ND,2427,2208,McKenzie County,county,ND,ND,NaN,38,53,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1151.000000

In [77]:
# Selecting only the California Counties and dropping the unnecessary columns

cal_rents = rents.groupby('StateName')
county_rents = cal_rents.get_group('CA')
county_rents_df = pd.DataFrame(county_rents)
# county_rents_df.columns
county_rents_chart = county_rents_df.drop(columns=['RegionID', 'SizeRank', 'RegionType', 'StateName',
       'State', 'Metro', 'StateCodeFIPS', 'MunicipalCodeFIPS'])
county_rents_chart.head()

,RegionName,3/31/2015,4/30/2015,5/31/2015,6/30/2015,7/31/2015,8/31/2015,9/30/2015,10/31/2015,11/30/2015,...,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022
0,Los Angeles County,1926.991658,1938.786435,1946.578305,1956.065493,1967.670532,1981.210212,1993.703092,2003.165124,2018.872077,...,2729.390246,2755.513640,2779.814053,2812.161093,2842.625892,2861.876621,2873.416820,2883.985603,2897.074676,2903.093932
4,San Diego County,1856.685365,1867.381695,1869.745495,1873.392157,1879.740423,1890.184201,1903.705846,1912.147995,1923.227900,...,2828.215924,2852.863786,2886.838216,2944.770447,2986.267820,3025.931781,3058.815591,3091.576010,3103.283044,3105.048761
5,Orange County,2052.889792,2060.483520,2067.330181,2066.518918,2072.299061,2078.178906,2089.502867,2097.021556,2112.965660,...,2992.109527,3012.521461,3045.851889,3073.644785,3099.087148,3116.758818,3135.532385,3145.326093,3142.566938,3133.555281
9,Riverside County,1466.764157,1478.829383,1484.176391,1484.616665,1488.070030,1494.840120,1508.634337,1514.023309,1524.281208,...,2481.639629,2491.110014,2533.559052,2560.158930,2587.892966,2599.390237,2611.373135,2618.506622,2620.565363,2610.557825
13,San Bernardino County,1474.114843,1483.571327,1488.001663,1494.213734,1491.235435,1498.391606,1507.474262,1514.627143,1519.301225,...,2409.155171,2459.054027,2476.567057,2505.424722,2522.184158,2541.007139,2556.865037,2551.005527,2554.444827,2542.773081

In [78]:
counties = pd.read_csv('county-list.csv', encoding='utf-8')
counties_df = pd.DataFrame(counties)
counties_df.head()
rents_merge = pd.merge(counties_df, county_rents_chart, on='RegionName')
rents_merge.head()

,county_number,RegionName,region,location1,location2,3/31/2015,4/30/2015,5/31/2015,6/30/2015,7/31/2015,...,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022
0,1,Alameda County,3,Coastal,North,2182.299239,2217.009463,2230.838872,2247.717665,2270.310716,...,2847.930874,2878.492206,2882.271674,2904.712241,2913.684669,2928.747853,2942.828461,2945.639384,2937.671944,2923.818645
1,4,Butte County,1,Inland,North,1069.719953,1080.960072,1080.767917,1092.625149,1094.115940,...,1552.230743,1592.145993,1585.802755,1588.238128,1579.872675,1593.358685,1616.010602,1636.895161,1650.386620,1658.990885
2,7,Contra Costa County,3,Coastal,North,2040.831794,2049.210580,2050.964252,2072.833093,2099.444774,...,2895.798519,2900.609775,2927.044655,2953.116411,2970.376588,2968.728953,2976.627825,2992.198368,2997.405022,3000.239415
3,9,El Dorado County,1,Inland,North,1467.777371,1468.740257,1471.753747,1493.299819,1494.246987,...,2463.494868,2474.340483,2536.006338,2565.991732,2632.916365,2645.993169,2685.661363,2667.092987,2648.263215,2624.781490
4,10,Fresno County,6,Inland,Central,1174.055963,1179.137937,1181.191081,1186.714245,1193.019788,...,1909.455456,1906.734197,1921.480207,1936.924833,1960.681179,1973.472627,1966.512752,1967.173844,1970.725947,2001.487963

In [85]:
clean_rents = rents_merge.set_index('RegionName', drop=True)
clean_rents_df = rents_merge.drop(['county_number', 'region'],axis=1)
clean_rents_df.head()

,RegionName,location1,location2,3/31/2015,4/30/2015,5/31/2015,6/30/2015,7/31/2015,8/31/2015,9/30/2015,...,1/31/2022,2/28/2022,3/31/2022,4/30/2022,5/31/2022,6/30/2022,7/31/2022,8/31/2022,9/30/2022,10/31/2022
0,Alameda County,Coastal,North,2182.299239,2217.009463,2230.838872,2247.717665,2270.310716,2303.455049,2326.500771,...,2847.930874,2878.492206,2882.271674,2904.712241,2913.684669,2928.747853,2942.828461,2945.639384,2937.671944,2923.818645
1,Butte County,Inland,North,1069.719953,1080.960072,1080.767917,1092.625149,1094.115940,1096.557147,1102.653343,...,1552.230743,1592.145993,1585.802755,1588.238128,1579.872675,1593.358685,1616.010602,1636.895161,1650.386620,1658.990885
2,Contra Costa County,Coastal,North,2040.831794,2049.210580,2050.964252,2072.833093,2099.444774,2121.455126,2133.733088,...,2895.798519,2900.609775,2927.044655,2953.116411,2970.376588,2968.728953,2976.627825,2992.198368,2997.405022,3000.239415
3,El Dorado County,Inland,North,1467.777371,1468.740257,1471.753747,1493.299819,1494.246987,1502.410686,1495.407937,...,2463.494868,2474.340483,2536.006338,2565.991732,2632.916365,2645.993169,2685.661363,2667.092987,2648.263215,2624.781490
4,Fresno County,Inland,Central,1174.055963,1179.137937,1181.191081,1186.714245,1193.019788,1188.459229,1185.404378,...,1909.455456,1906.734197,1921.480207,1936.924833,1960.681179,1973.472627,1966.512752,1967.173844,1970.725947,2001.487963

In [ ]:
LA_County = row_list = rents_chart.iloc[0, :].values.flatten().tolist()
# columns = rents_chart.columns
# # columns
# x = [2015,2016,2017,2018,2019]
# plt.title('LA County Median Rents 2015 to 2022')
# plt.ylabel('Median Rents')
# plt.plot(LA_County)
# plt.tight_layout()
# plt.show()

In [ ]:
transpose = pd.read_csv('rents_transpose.csv', encoding='utf-8')
transpose_df = pd.DataFrame(transpose)
clean_rents = transpose_df.transpose()
# clean_rents = transpose_df.set_index('RegionName', drop=False)
# clean_rents['RegionName'].astype(str)
clean_rents.head()

In [ ]:
counties = pd.read_csv('county-list.csv', encoding='utf-8')
counties_df = pd.DataFrame(counties)
counties_df.columns
# rents_merge = pd.merge(counties_df, clean_rents, on='RegionName')
# rents_merge.head()

In [ ]:
new_df = clean_rents.transpose()
# new_df.head()
clean_rents = new_df.dropna(axis='columns', how='any')
# clean_rents.head()
# clean_rents2 = clean_rents.set_index('RegionName', drop=True)
# clean_rents2.astype(float)
plt.plot(clean_rents)
plt.xticks(rotation = 90)
plt.show()