In [1]:
# import dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import csv

In [2]:
# Import api keys 
#from config import #api key from config.py

# Import citipy to determine the cities based on latitude and longitude
from citipy import citipy

In [13]:
# create path to csv files needed
median_detached_homes = pd.read_csv(r"C:\Users\Louie\uci\project1\MedianPricesofExistingDetachedHomesHistoricalData_clean.csv")

In [14]:
housing_df = pd.DataFrame(median_detached_homes)
#for row in housing_df.index:
    #print(row, end = " ")

#housing_f = housing_df.iloc[6:]
housing_df

,Median Price (existing single-family detached homes only),,,,.1,,,.2,.3,.4,...,Unnamed: 301,Unnamed: 302,Unnamed: 303,Unnamed: 304,Unnamed: 305,Unnamed: 306,Unnamed: 307,Unnamed: 308,Unnamed: 309,Unnamed: 310
0,county_number ...,county_name,region,location1,location2,10-Jan,10-Feb,10-Mar,10-Apr,10-May,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,CA,3,Coastal,North,284600,278190,300900,307000,327460,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Alameda,4,Inland,North,383330,410230,432720,407830,472370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Amador,4,Inland,North,170000,190000,186000,170000,208330,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Butte,1,Inland,North,250000,219230,250000,238000,236760,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Calaveras,4,Inland,North,166000,193333,185000,193333,191999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,Contra-Costa,1,Inland,North,274100,278350,287800,298850,308330,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,Del Norte,3,Coastal,North,185000,194999,190000,160000,150000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,El Dorado,2,Coastal,North,325000,307576,311956,311956,318000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,Fresno,1,Inland,North,145965,152741,150963,148230,157520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,Glenn,6,Inland,Central,160000,150000,120000,146000,166666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,Humboldt,1,Inland,North,246874,232499,270652,265480,261960,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,Kern,2,Coastal,North,127900,147599,136000,136250,145520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,Kings,10,Inland,Southern,174999,165000,154285,170000,178570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,Lake,6,Inland,Central,137140,128181,155000,126000,135000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,Lassen,6,Inland,Central,NA ...,NA,NA,NA,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,Los Angeles,6,Inland,Central,316698,283299,290000,289710,297410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,Madera,2,Coastal,North,140667,160000,146000,145830,140910,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,Marin,1,Inland,North,729166,782609,790625,892360,838940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,Mariposa,8,Coastal,Southern,215000,250000,210000,275000,225000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,Mendocino,4,Inland,North,237499,262500,294999,240620,280000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,Merced,3,Coastal,North,96666,100952,108080,115130,124440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,Mono,4,Inland,North,625000,1250000,625000,625000,666666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,Monterey,2,Coastal,North,246500,255000,245000,262000,280000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24,Napa,4,Inland,North,358695,336842,351562,343750,367390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,Nevada,1,Inland,North,256250,261111,270454,263333,272058,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,Orange,4,Inland,North,527477,533805,550420,546050,555800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,Placer,5,Coastal,North,287287,287890,291565,295380,284090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,Plumas,2,Coastal,North,NA ...,NA,NA,NA,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,Riverside,1,Inland,North,193687,198129,201104,209530,213060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,30,Sacramento,9,Coastal,Southern,173305,176586,180388,182155,189113,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,31,San Benito,1,Inland,North,325000,279540,275610,333000,296500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,32,San Bernardino,1,Inland,North,134999,134047,137585,138220,137370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,33,San Diego,7,Inland,Southern,366778,372096,393598,388480,391410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,34,San Francisco,1,Inland,North,696428,692934,799528,799180,747023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,35,San Joaquin,5,Coastal,North,170943,160588,167683,171428,174633,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,36,San Luis Obispo,7,Inland,Southern,383333,370512,377680,403120,386670,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,37,San Mateo,10,Coastal,Southern,633500,655000,800000,750000,740000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,38,Santa Barbara,3,Coastal,North,466666,380768,381820,475000,513890,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,39,Santa Clara,4,Inland,North,525000,550000,590000,628000,630000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,40,Santa Cruz,5,Coastal,Central,495000,500000,525000,557650,525000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,41,Shasta,3,Coastal,North,180909,181000,175499,171330,189540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,42,Siskiyou,5,Coastal,Southern,132499,165000,150000,180000,165000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,43,Solano,3,Coastal,North,215983,204297,211538,211670,224120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,44,Sonoma,5,Coastal,Central,365822,356707,359047,365140,368310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,45,Stanislaus,1,Inland,North,140175,145303,145384,141892,150309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,46,Sutter,1,Inland,North,170999,162143,152222,162000,177999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,47,Tehama,1,Inland,North,140000,162500,132857,146670,127500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,48,Tulare,3,Coastal,North,134137,134999,145143,132630,141820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,49,Tuolumne,2,Coastal,North,220833,200000,202273,215000,218750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,50,Ventura,4,Inland,North,420689,451724,444886,442610,440370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,51,Yolo,1,Inland,North,263461,234999,260714,242307,271000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52,Yuba,1,Inland,North,145000,148571,145000,163529,153999,...,,,,,,,,,,

In [16]:
print(housing_df.columns)

Index(['Median Price (existing single-family detached homes only) ',
       '                ', '       ', '          ', '          .1',
       '                                                                                                                                                                    ',
       '           ', '          .2', '          .3', '          .4',
       ...
       'Unnamed: 301', 'Unnamed: 302', 'Unnamed: 303', 'Unnamed: 304',
       'Unnamed: 305', 'Unnamed: 306', 'Unnamed: 307', 'Unnamed: 308',
       'Unnamed: 309', 'Unnamed: 310'],
      dtype='object', length=311)

In [25]:
for cols in housing_df.columns:
    print(cols)
    
#del housing_f['6']
#housing_f.head()

,Median Price (existing single-family detached homes only),,,,.1,,,.2,.3,.4,...,Unnamed: 301,Unnamed: 302,Unnamed: 303,Unnamed: 304,Unnamed: 305,Unnamed: 306,Unnamed: 307,Unnamed: 308,Unnamed: 309,Unnamed: 310
3,3,Amador,4,Inland,North,170000,190000,186000,170000,208330,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Butte,1,Inland,North,250000,219230,250000,238000,236760,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Calaveras,4,Inland,North,166000,193333,185000,193333,191999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,Contra-Costa,1,Inland,North,274100,278350,287800,298850,308330,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,Del Norte,3,Coastal,North,185000,194999,190000,160000,150000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
#list(housing_df.index.values)
housing_df.dropna(how="any")
housing_df.head(53)

,Median Price (existing single-family detached homes only),,,,.1,,,.2,.3,.4,...,Unnamed: 301,Unnamed: 302,Unnamed: 303,Unnamed: 304,Unnamed: 305,Unnamed: 306,Unnamed: 307,Unnamed: 308,Unnamed: 309,Unnamed: 310
0,county_number ...,county_name,region,location1,location2,10-Jan,10-Feb,10-Mar,10-Apr,10-May,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,CA,3,Coastal,North,284600,278190,300900,307000,327460,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Alameda,4,Inland,North,383330,410230,432720,407830,472370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Amador,4,Inland,North,170000,190000,186000,170000,208330,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Butte,1,Inland,North,250000,219230,250000,238000,236760,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5,Calaveras,4,Inland,North,166000,193333,185000,193333,191999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6,Contra-Costa,1,Inland,North,274100,278350,287800,298850,308330,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,7,Del Norte,3,Coastal,North,185000,194999,190000,160000,150000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,8,El Dorado,2,Coastal,North,325000,307576,311956,311956,318000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,9,Fresno,1,Inland,North,145965,152741,150963,148230,157520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,10,Glenn,6,Inland,Central,160000,150000,120000,146000,166666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,11,Humboldt,1,Inland,North,246874,232499,270652,265480,261960,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,12,Kern,2,Coastal,North,127900,147599,136000,136250,145520,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,13,Kings,10,Inland,Southern,174999,165000,154285,170000,178570,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,14,Lake,6,Inland,Central,137140,128181,155000,126000,135000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,15,Lassen,6,Inland,Central,NA ...,NA,NA,NA,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,16,Los Angeles,6,Inland,Central,316698,283299,290000,289710,297410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,17,Madera,2,Coastal,North,140667,160000,146000,145830,140910,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,18,Marin,1,Inland,North,729166,782609,790625,892360,838940,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,19,Mariposa,8,Coastal,Southern,215000,250000,210000,275000,225000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,20,Mendocino,4,Inland,North,237499,262500,294999,240620,280000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,21,Merced,3,Coastal,North,96666,100952,108080,115130,124440,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,22,Mono,4,Inland,North,625000,1250000,625000,625000,666666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,23,Monterey,2,Coastal,North,246500,255000,245000,262000,280000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,24,Napa,4,Inland,North,358695,336842,351562,343750,367390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,25,Nevada,1,Inland,North,256250,261111,270454,263333,272058,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,26,Orange,4,Inland,North,527477,533805,550420,546050,555800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,27,Placer,5,Coastal,North,287287,287890,291565,295380,284090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,28,Plumas,2,Coastal,North,NA ...,NA,NA,NA,NA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,29,Riverside,1,Inland,North,193687,198129,201104,209530,213060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,30,Sacramento,9,Coastal,Southern,173305,176586,180388,182155,189113,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,31,San Benito,1,Inland,North,325000,279540,275610,333000,296500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,32,San Bernardino,1,Inland,North,134999,134047,137585,138220,137370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,33,San Diego,7,Inland,Southern,366778,372096,393598,388480,391410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,34,San Francisco,1,Inland,North,696428,692934,799528,799180,747023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,35,San Joaquin,5,Coastal,North,170943,160588,167683,171428,174633,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,36,San Luis Obispo,7,Inland,Southern,383333,370512,377680,403120,386670,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,37,San Mateo,10,Coastal,Southern,633500,655000,800000,750000,740000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,38,Santa Barbara,3,Coastal,North,466666,380768,381820,475000,513890,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,39,Santa Clara,4,Inland,North,525000,550000,590000,628000,630000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,40,Santa Cruz,5,Coastal,Central,495000,500000,525000,557650,525000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,41,Shasta,3,Coastal,North,180909,181000,175499,171330,189540,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,42,Siskiyou,5,Coastal,Southern,132499,165000,150000,180000,165000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,43,Solano,3,Coastal,North,215983,204297,211538,211670,224120,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,44,Sonoma,5,Coastal,Central,365822,356707,359047,365140,368310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,45,Stanislaus,1,Inland,North,140175,145303,145384,141892,150309,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,46,Sutter,1,Inland,North,170999,162143,152222,162000,177999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,47,Tehama,1,Inland,North,140000,162500,132857,146670,127500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,48,Tulare,3,Coastal,North,134137,134999,145143,132630,141820,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,49,Tuolumne,2,Coastal,North,220833,200000,202273,215000,218750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,50,Ventura,4,Inland,North,420689,451724,444886,442610,440370,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,51,Yolo,1,Inland,North,263461,234999,260714,242307,271000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,52,Yuba,1,Inland,North,145000,148571,145000,163529,153999,...,,,,,,,,,,